.book-details {
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;    
    gap: 20px;               
    border-radius: 20px;
    border: 10px solid lightgray;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 20px;
}

img {
    border: 2px solid black;
    border-radius: 10px;
}

.bookd-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.bookd-author {
    font-weight: bold;
}

.bookd-description{
    color: grey;
}

.bookd-rating{
    align-self: bottom;
}

.bookd-description {
    margin-top: 10px;
}

.bookd-rating {
    margin-top: auto; 
    font-weight: bold;
}

.browserButton {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.browserButton:hover {
  background-color: #2ecc71;
}
