nav {
  background-color: #222;
  padding: 15px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
}

nav a {
  color: white;
  margin-right: 15px;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 10px;
  border-radius: 10px;
}

nav a:hover {
  background-color: white;
  color: black;
}
